*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.box{
    width:100%;
    max-width: 540px;
    background-color: white;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.box h2{
    color:#2e3434;
    font-size: 28px;
    margin-bottom: 30px;
}

.inp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    overflow: hidden;
    border-radius: 60px;
    background-color: #f3f3f3;
    margin-bottom: 40px;
}

.inp input{
    width: 80%;
    height:60px;
    outline: none;
    border: none;
    font-size: 17px;
    padding: 0 30px;
    color:2e3434;
    background-color: #f0f0f0;
}

.inp button{
    font-size: 17px;
    padding: 17px 60px;
    border-radius: 60px;
    background-color: #96ceff;
    border:none;
    outline: none;
    color: #2e3434;
}

ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
    margin-left: 24px;
    font-size: 20px;
    text-wrap: wrap;
}

ul li::before{
    content: "";
    height: 32px;
    width: 32px;
    position: absolute;
    background-image: url(radio.png);
    background-position: center;
    background-size: cover;
    left: 0px;
    top: 8px;

}

ul li.checked{
    color: #2e3434af;
    text-decoration: line-through;
}

ul li.checked::before{
    content: "";
    height: 28px;
    width: 28px;
    position: absolute;
    background-image: url(check.png);
    background-position: center;
    background-size: cover;
    left: 0px;
    top: 8px;

}


ul li span{
    position:absolute;
    right: 10px;
    font-size: 28px;
    top: 8px;
}